<h2>Notes for <%= current_user.email %> | <%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h2>

<div class="pull-right">
<%= link_to 'New Note', new_note_path, class: 'btn btn-primary btn-small' %>
</div>

<table class="table table-striped table-responsive col-md-8">
  <thead>
    <tr>
      <th width="80px">Created</th>
      <th width="80px">Updated</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'note_row', collection: @notes.reverse %>
  </tbody>
</table>

<br>
