<intro id="intro">
	<div class="row-fluid">
		<div class="hero-unit">
			<h1> Your Best Resource To Better Health</h1>
			<p> Here you will learn how your withing's pulse shortens your recovery time.  You and your health will have a faster recovery through a responsive feedback cycle. Increased insight and interactions equals greater outcomes.</p>
			<p><a href="#old-you" class="btn btn-primary btn-large">Learn more »</a></p>
		</div>
	</div>
</intro>

<section id="old-you">
	<div class="row-fluid">
		<div class="span5">
			<%= image_tag "Doctor-knee.jpg", "class" => "img-rounded" %>
		</div>
		<div class="span7">
			<h3>The Old and Busted you.</h3>
			<p>The sample text would go here.</p> 
			<p>Corned beef biltong sirloin beef sausage. Ham hock filet mignon beef ribs turkey. Tenderloin sirloin ball tip shank. Sausage short ribs spare ribs drumstick leberkas cow andouille tongue beef capicola ground round.</p>
			<p>Pastrami corned beef flank capicola. Frankfurter pancetta hamburger, pork loin ball tip corned beef rump boudin ground round bacon. Swine shoulder rump tenderloin pastrami ball tip corned beef, chicken sausage salami prosciutto turducken. Rump bresaola spare ribs, swine brisket tail chicken biltong ground round jowl ball tip doner. Tongue filet mignon tenderloin meatball t-bone.
			</p>
		</div>
	</div>
</section>

<section id="pro">
	<div class="row-fluid">
		<div class="span7">
			<h3>Invite your Health Care Provider.</h3>
			<p>The sample text would go here. 
				Corned beef biltong sirloin beef sausage. Ham hock filet mignon beef ribs turkey. Tenderloin sirloin ball tip shank. Sausage short ribs spare ribs drumstick leberkas cow andouille tongue beef capicola ground round.
				Pastrami corned beef flank capicola. Frankfurter pancetta hamburger, pork loin ball tip corned beef rump boudin ground round bacon. Swine shoulder rump tenderloin pastrami ball tip corned beef, chicken sausage salami prosciutto turducken. Rump bresaola spare ribs, swine brisket tail chicken biltong ground round jowl ball tip doner. Tongue filet mignon tenderloin meatball t-bone.
			</p>
		</div>
		<div class="span5">
			<%= image_tag "PT-rehab.jpg", "class" => "img-rounded" %>
		</div>
	</div>
</section>

<section id="insight">
	<div class="row-fluid">
		<div class="well well-small span4 text-center">
			<%= image_tag "pulse-pocket.jpg", "class" => "img-rounded" %>
			<div>
				<h4>Withings Pulse <small>&#174;</small>:</h4>
				<p>Utilize the Withings Pulse tracker just like you would normally....or even in your pocket.</p>
			</div>
		</div>

		<div class="well well-small span4 text-center">
			<%= image_tag "BioApp-Dashboard.jpg", "class" => "img-rounded" %>
			<div>
				<h4>Dashboard:</h4>
				<p>Easy interface to gain vivid insight on your progress.  Also, you can keep notes and gain professional feedback.</p>
			</div>
		</div>

		<div class="well well-small span4 text-center">
			<%= image_tag "BioApp-Notes.jpg", "class" => "img-rounded" %>
			<div>
				<h4>Make a Progress Note:</h4>
				<p>You can not only make yourself a note on your progress, but also create a dialog with your healh care professional.</p>
			</div>
		</div>

	</div>
</section>

<section id="new-you">
	<div class="row-fluid">
		<div class="span5">
			<%= image_tag "runningman.jpg", "class" => "img-rounded" %>
		</div>
		<div class="span7">
			<h3>It's all about you and your recovery</h3>
			<p>The sample text would go here.</p> 
			<p>Corned beef biltong sirloin beef sausage. Ham hock filet mignon beef ribs turkey. Tenderloin sirloin ball tip shank. Sausage short ribs spare ribs drumstick leberkas cow andouille tongue beef capicola ground round.</p>
			<p>Pastrami corned beef flank capicola. Frankfurter pancetta hamburger, pork loin ball tip corned beef rump boudin ground round bacon. Swine shoulder rump tenderloin pastrami ball tip corned beef, chicken sausage salami prosciutto turducken. Rump bresaola spare ribs, swine brisket tail chicken biltong ground round jowl ball tip doner. Tongue filet mignon tenderloin meatball t-bone.
			</p>
		</div>
	</div>
</section>


<section id="get-started">
	<div class="row-fluid">
		<div class="pull-right">
			<p><%= link_to "Get Started »", "#sign_up", "class" => "btn btn-primary btn-large", "data-toggle" => "modal" %>
			</p>
		</div>
	</div>
</section>
