<intro id="intro">
	<div class="row-fluid">
		<div class="hero-unit">
			<h1> Your Best Resource To </h1>
			<h1>Better Health</h1>
			<p> Learn how <strong><em>Bio App - Health Tracker <sup><small>&#8480;</small></sup></em></strong> shortens your recovery time.  Through increased insight and a responsive feedback cycle, you and your health will have a quicker rehabilitation. </p>
		</div>
	</div>
</intro>

<section id="old-you">
	<div class="row-fluid">
		<div class="span5">
			<%= image_tag "Doctor-knee.jpg", "id" => "busted", "class" => "img-rounded" %>
		</div>
		<div class="span7">
			<h3>The Busted you.</h3>
			<p>The doctor just stated you need a new knee.</p> 
			<p>After weeks and weeks of pain, they finally decide that you need a full knee replacment.</p>
			<p>The doctors have resolved to perform surgery and install the latest in knee technology.  After the operation is over they say that you should be "good as new."  It's just up to you to use your knee again.
			</p>
		</div>
	</div>
</section>

<section id="pro">
	<div class="row-fluid">
		<div class="span7">
			<h3>Invite your Health Care Provider.</h3>
			<p>The next step is learning to walk again.  You have some great physical rehabilitation ahead of you.  Learning to walk again is a bigger challenge than you estimated.  You know that it is a simple process.</p>
			<p> You figure it's easy with the expert advice from your health care professional, but now you are out on your own.  Easily invite your doctor and physical rehab specialist to participate with you.  It certainly makes for a more effective recovery, as well as saving you time and unneccesary trips back for check ups.</p>
			<p>Now what happens once they kick you out of the hospital?  Well it's all up to you, right?</p>
			<p>With our application, you have the opportunity to track your progress, add notes, and gain insight from your health care professional.  Now you have a plan to reach your goals and professional support along the way.
			</p>
		</div>
		<div class="span5">
			<%= image_tag "PT-rehab.jpg", "id" => "busted2", "class" => "img-rounded" %>
		</div>
	</div>
</section>

<section id="insight">
	<div class="row-fluid">
		<div class="well well-small span4 text-center">
			<%= image_tag "pulse-pocket.jpg", "id" => "hatch1", "class" => "img-rounded" %>
			<div>
				<h4>Withings Pulse<sup><small>&#174;</small></sup>:</h4>
				<p>Utilize the Withings Pulse tracker just like you would normally....or even in your pocket.</p>
			</div>
		</div>

		<div class="well well-small span4 text-center">
			<%= image_tag "BioApp-Dashboard.jpg", "id" => "hatch2", "class" => "img-rounded" %>
			<div>
				<h4>Dashboard:</h4>
				<p>Easy interface to gain vivid insight on your progress.  Also, you can keep notes and gain professional feedback.</p>
			</div>
		</div>

		<div class="well well-small span4 text-center">
			<%= image_tag "BioApp-Notes.jpg", "id" => "hatch3", "class" => "img-rounded" %>
			<div>
				<h4>Make a Progress Note:</h4>
				<p>You can not only make yourself a note on your progress, but also create a dialog with your healh care professional.</p>
			</div>
		</div>

	</div>
</section>

<section id="new-you">
	<div class="row-fluid">
		<div class="span5">
			<%= image_tag "runningman.jpg", "id" => "newyou", "class" => "img-rounded" %>
		</div>
		<div class="media span7">
			<h3>It's all about you and your recovery</h3>
			<p>The road to recovery may be challenging but with our resources and professional insight, you will be back on your feet soon.</p> 
			<p>It's easy to sign up and to gain vivid insight.  We are your best partner and platform to be running at full speed.</p>
			<p>You can access our platform on the web, your tablet, or even your smartphone.  So, your activity, insight, notes and professional feedback are readily available... where ever you are. We are here for you.  Ready to begin your rapid recovery !
			</p>
			<p><%= link_to "Let's Get Started »", "#sign_up", "class" => "btn btn-primary btn-large", "data-toggle" => "modal" %>
			</p>
		</div>
	</div>
</section>
