<intro id="intro">
	<div class="row-fluid">
		<div class="hero-unit">
			<h1> Your Best Resource To </h1>
			<h1>Better Health</h1>
			<p> Learn how <strong><em>Bio App - Health Tracker <sup><small>&#8480;</small></sup></em></strong> shortens your recovery time.  Through increased insight and a responsive feedback cycle, you and your health will have a quicker rehabilitation. </p>
		</div>
	</div>
</intro>

<section id="old-you">
	<div class="row-fluid">
		<div class="span5">
			<%= image_tag "Doctor-knee.jpg", "id" => "busted", "class" => "img-rounded" %>
		</div>
		<div class="span7">
			<h3>The Busted you.</h3>
			<p>The sample text would go here.</p> 
			<p>Corned beef biltong sirloin beef sausage. Ham hock filet mignon beef ribs turkey. Tenderloin sirloin ball tip shank. Sausage short ribs spare ribs drumstick leberkas cow andouille tongue beef capicola ground round.</p>
			<p>Pastrami corned beef flank capicola. Frankfurter pancetta hamburger, pork loin ball tip corned beef rump boudin ground round bacon. Swine shoulder rump tenderloin pastrami ball tip corned beef, chicken sausage salami prosciutto turducken. Rump bresaola spare ribs, swine brisket tail chicken biltong ground round jowl ball tip doner. Tongue filet mignon tenderloin meatball t-bone.
			</p>
		</div>
	</div>
</section>

<section id="pro">
	<div class="row-fluid">
		<div class="span7">
			<h3>Invite your Health Care Provider.</h3>
			<p>The sample text would go here. 
				Corned beef biltong sirloin beef sausage. Ham hock filet mignon beef ribs turkey. Tenderloin sirloin ball tip shank. Sausage short ribs spare ribs drumstick leberkas cow andouille tongue beef capicola ground round.
				Pastrami corned beef flank capicola. Frankfurter pancetta hamburger, pork loin ball tip corned beef rump boudin ground round bacon. Swine shoulder rump tenderloin pastrami ball tip corned beef, chicken sausage salami prosciutto turducken. Rump bresaola spare ribs, swine brisket tail chicken biltong ground round jowl ball tip doner. Tongue filet mignon tenderloin meatball t-bone.
			</p>
		</div>
		<div class="span5">
			<%= image_tag "PT-rehab.jpg", "id" => "busted2", "class" => "img-rounded" %>
		</div>
	</div>
</section>

<section id="insight">
	<div class="row-fluid">
		<div class="well well-small span4 text-center">
			<%= image_tag "pulse-pocket.jpg", "id" => "hatch1", "class" => "img-rounded" %>
			<div>
				<h4>Withings Pulse<sup><small>&#174;</small></sup>:</h4>
				<p>Utilize the Withings Pulse tracker just like you would normally....or even in your pocket.</p>
			</div>
		</div>

		<div class="well well-small span4 text-center">
			<%= image_tag "BioApp-Dashboard.jpg", "id" => "hatch2", "class" => "img-rounded" %>
			<div>
				<h4>Dashboard:</h4>
				<p>Easy interface to gain vivid insight on your progress.  Also, you can keep notes and gain professional feedback.</p>
			</div>
		</div>

		<div class="well well-small span4 text-center">
			<%= image_tag "BioApp-Notes.jpg", "id" => "hatch3", "class" => "img-rounded" %>
			<div>
				<h4>Make a Progress Note:</h4>
				<p>You can not only make yourself a note on your progress, but also create a dialog with your healh care professional.</p>
			</div>
		</div>

	</div>
</section>

<section id="new-you">
	<div class="row-fluid">
		<div class="span5">
			<%= image_tag "runningman.jpg", "id" => "newyou", "class" => "img-rounded" %>
		</div>
		<div class="media span7">
			<h3>It's all about you and your recovery</h3>
			<p>The sample text would go here.</p> 
			<p>Corned beef biltong sirloin beef sausage. Ham hock filet mignon beef ribs turkey. Tenderloin sirloin ball tip shank. Sausage short ribs spare ribs drumstick leberkas cow andouille tongue beef capicola ground round.</p>
			<p>Pastrami corned beef flank capicola. Frankfurter pancetta hamburger, pork loin ball tip corned beef rump boudin ground round bacon. Swine shoulder rump tenderloin pastrami ball tip corned beef, chicken sausage salami prosciutto turducken. Rump bresaola spare ribs, swine brisket tail chicken biltong ground round jowl ball tip doner. Tongue filet mignon tenderloin meatball t-bone.
			</p>
			<p><%= link_to "Let's Get Started »", "#sign_up", "class" => "btn btn-primary btn-large", "data-toggle" => "modal" %>
			</p>
		</div>
	</div>
</section>
