<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @feedback.provider_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @feedback.body %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
