<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @goal.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @goal.type %>
</p>

<p>
  <strong>Metric:</strong>
  <%= @goal.metric %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
