<h1>Listing measures</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Measure date</th>
      <th>Measure distance</th>
      <th>Measure calories</th>
      <th>Measure elevation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.user_id %></td>
        <td><%= measure.measure_date %></td>
        <td><%= measure.measure_distance %></td>
        <td><%= measure.measure_calories %></td>
        <td><%= measure.measure_elevation %></td>
        <td><%= link_to 'Show', measure %></td>
        <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
        <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measure', new_measure_path %>
