<h2>Activity Measurements for <%= current_user.email %> | <%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h2>

<table class="table table-striped table-responsive col-md-12">
  <thead>
    <tr>
      <th>Created</th>
      <th>Distance in Steps</th>
      <th>Calories burned</th>
      <th>Elevation</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'measure_row', collection: @measures.reverse %>
  </tbody>
</table>

<br>

<%= link_to 'New Measure', new_measure_path %>
