<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @measure.user_id %>
</p>

<p>
  <strong>Measure date:</strong>
  <%= @measure.measure_date %>
</p>

<p>
  <strong>Measure steps:</strong>
  <%= @measure.measure_steps %>
</p>

<p>
  <strong>Measure elevation:</strong>
  <%= @measure.measure_elevation %>
</p>

<p>
  <strong>Measure distance:</strong>
  <%= @measure.measure_distance %>
</p>

<p>
  <strong>Measure calories:</strong>
  <%= @measure.measure_calories %>
</p>

<%= link_to 'Back', measures_path %>
